

# generic ROS packages
wheel
rospkg
pyyaml

# NVIDIA tensorfllow
--extra-index-url https://developer.download.nvidia.com/compute/redist/jp/v512
numpy==1.22
future==0.18.2
mock==3.0.5
keras_preprocessing==1.1.2
keras_applications==1.0.8
gast==0.4.0
protobuf 
pybind11
cython
pkgconfig
packaging 
h5py==3.7.0
tensorflow==2.12.0+nv23.06

# DeepFace
deepface
