<launch>
  <node name="qt_gesturegame_app" pkg="qt_gesturegame_app" type="qt_gesturegame_app" output="screen">
    <param name="fsm" value="$(find qt_gesturegame_app)/fsm/gesture_game.lua"/>
    <param name="with_audio_files" value="false"/>
    <param name="audio_path" value="$(find qt_gesturegame_app)/data/audio/Romanian"/>
    <param name="speech_message_file" value="$(find qt_gesturegame_app)/data/speech/message_en.yaml"/>
  </node>
</launch>
